---
import NavCard from "../components/NavCard";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Chicory Roth">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chicory Roth</title>
	</head>

	<body>

		<div class="grid place-items-center h-screen content-center bg-gradient-to-t from-black via-black to-slate-800">

			<div class="text-xl pb-2 font-bold text-gray-200 w-1/4 text-center">
				Hi! My name is Chicory Roth and I am looking for an opportunity to put my head down and help build a valuable product. I specialize in Full-stack development with NextJS, TypeScript and SQL with experience deploying to AWS, Azure and GCP and am eager to learn other technologies as challenges present themselves.
			  </div>
			<NavCard/>
		</div>
	</body>
</html>
</Layout>