---
import NavCard from "../components/NavCard";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Chicory Roth">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Chicory Roth</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center bg-gradient-to-t from-black via-black to-slate-800">
			<div class="text-6xl pb-2 font-bold text-gray-200">
				<span class="hover:text-red-500 hover:cursor-default transition-colors duration-300">C</span>
				<span class="hover:text-blue-500 hover:cursor-default transition-colors duration-300">h</span>
				<span class="hover:text-green-500 hover:cursor-default transition-colors duration-300">i</span>
				<span class="hover:text-yellow-500 hover:cursor-default transition-colors duration-300">c</span>
				<span class="hover:text-purple-500 hover:cursor-default transition-colors duration-300">o</span>
				<span class="hover:text-red-500 hover:cursor-default transition-colors duration-300">r</span>
				<span class="hover:text-blue-500 hover:cursor-default transition-colors duration-300">y</span>
					{" "}
				<span class="hover:text-yellow-500 hover:cursor-default transition-colors duration-300">R</span>
				<span class="hover:text-purple-500 hover:cursor-default transition-colors duration-300">o</span>
				<span class="hover:text-green-500 hover:cursor-default transition-colors duration-300">t</span>
				<span class="hover:text-blue-500 hover:cursor-default transition-colors duration-300">h</span>
			  </div>
			<NavCard/>
		</div>
	</body>
</html>
</Layout>