---
import NavCard from "../components/NavCard";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Chicory Roth">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Chicory Roth</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center bg-black">
			<div class="text-6xl pb-2 font-bold text-gray-200">Chicory Roth</div>
			<NavCard/>
		</div>
	</body>
</html>
</Layout>