---
import NavCard from "../components/NavCard";
import Layout from "../layouts/Layout.astro";
import { Analytics } from '@vercel/analytics/react';
---
<Layout title="Chicory Roth">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chicory Roth</title>
	</head>

	<body>

		<div class="grid place-items-center h-screen content-center bg-gradient-to-t from-black via-black to-slate-800">

			<div class="text-xl pb-2 font-bold text-gray-200 w-1/3 text-center">
			  </div>
			<NavCard/>
		</div>
	</body>
	<Analytics />
</html>

</Layout>