---
import ResumeCard from "../components/ResumeCard";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Chicory Roth Resume">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Resume</title>
	</head>

	<body>
        <ResumeCard/>
	</body>
</html>
</Layout>